.link{
  text-decoration: none;
  color: black;
}
.link:visited{
  color: inherit
}

.tarjeta{
  display: flex;
  flex-direction: column;
  width:min-content;
  height: min-content;
  background-color: #B3D92B;
  padding: 25px;
  border-radius: 10px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.tarjeta:visited{
  color: inherit;
}
.tarjeta:hover{
  transform: scale(1.05);
}
.tarjeta img{
  margin: 5px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 3px solid #FFC72C;
}