.landingContainer{
  background-image: url(../../assets/job562-nunoon-10.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boton button{
  cursor: pointer;
  padding:10px 20px;
  font-size: 16px;
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  margin-top: 50px;
  transition: all 0.5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.boton button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.iconos img {
  width: 40px;
}
.iconos a {
  margin: 0 10px;
}
