.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3BC9D9;
  opacity: 80%;
  height: 50px;
  border-radius: 15px;
  width: 90vw;
  margin: 0 auto;
}
.links {
  display: flex;
  margin-left: 20px;
  font-weight: bold;
}
.links a{
  text-decoration: none;
  margin-right: 10px;
  color: inherit;
}
